/* * {box-sizing: border-box} */
* { box-sizing: border-box; }
html, body { background-color:#222; height:100%; width:100%; margin:0; padding: 0; display: flex; overflow: hidden; }
body { font-family: Arial; }
div { display:flex; color: white; padding: 0px; margin: 0px; }
.view { display: flex; flex: 1; }
.header { display: flex; flex: 0 0 32px; padding: 0.5em; height: 24px; background-color:#321; }
.list { display: block; }
.menu { display: block; }
.menuitem { font-size: 2em; border-radius: 5px; color: black; background-color: gray; border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid darkgray; border-bottom: 1px solid darkgray; margin: 0.25em; padding: 0.25em; }
.menuitem:active { border-top: 1px solid darkgray; border-left: 1px solid darkgray; border-right: 1px solid white; border-bottom: 1px solid white;  }
.menuitem:hover { background-color: lightgray; }
.item { border-bottom: 1px solid gray; padding: 0.25em; }
.rows { display:flex; flex-flow: column nowrap; flex: 1; border: 1px solid gray; }
.cols { display:flex; flex-flow: row nowrap;  flex: 1; border: 1px solid gray; }
.template { display: flex; flex: 1; border: 1px solid green; }
.label { display: flex; flex: 1; }
.label.autowidth { flex: 0; }
.button { display: flex; flex: 0 0 auto; width: auto; padding-right: 1em; padding-left: 1em; padding-top: 0.5em; height: 32px; border: 1px solid black; border-radius: 5px; text-align: center; margin: 0.5em; }
.button:hover { background-color: rgba(128,128,128,0.8); cursor: pointer; }
/* .selectable {} */
.selectable:hover { background-color: lightgray; color:black; cursor: pointer; }
.tabs { flex-direction: row; flex: 0 0 auto; }
.tab { min-width: 5em; height: 2em; text-align: center; display:'inline-block'; background-color: gray; color: black; border-radius: 5px 5px 0 0; 
  border-top: 1px solid lightgray; border-left: 1px solid lightgray; border-right: 1px solid darkgray; border-bottom: 1px solid darkgray; }
.tab:active { background-color: gray; color: black; }
.tab:hover { background-color: lightgray; cursor: pointer; }


/* https://codepen.io/anon/pen/XaadLW */
